.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content {
	display: flex;
	width: 700px;
	height: 400px;
	margin-top: 2rem;
	position: relative;
	justify-content: center;
	align-items: center;
}

.arrow {
	position: absolute;
	background: #FFF;
	width: 20px;
	height: 20px;
	padding: 5px;
	border-radius: 25px;
	cursor: pointer;
}
.arrow-left {
	left: 1rem;
}
.arrow-right {
	right: 1rem;
}
.image {
	width: 100%;
	height: 100%;
	border: 1px solid #CCC;
	padding: 5px;
	border-radius: 10px;
}
.hide{
	display: none;
}
.indicator-group {
	position: absolute;
	bottom: 1rem;
	display: flex;

}
.indicator-group > button {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 6px;
    margin: 0.3rem;	
}
.indicator-group > .active {
	background: #3b3a39;
}
